* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}



.descuento {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 35%, rgba(252, 176, 69, 1) 100%);
    background-size: 1000% 1000%;
    -webkit-animation: Coolgradient 5s linear infinite;
    -moz-animation: Coolgradient 5s linear infinite;
    -o-animation: Coolgradient 5s linear infinite;
    animation: Coolgradient 5s linear infinite;
}

header .navbar {
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.carrito {
    display: none;
}

.icono-carrito:hover {
    cursor: pointer;
}

/* Estilo del aside bar */
.aside-bar {
    width: 0;
    position: fixed;
    top: 0;
    right: -250px;
    /* Inicialmente oculto */
    height: 100%;
    background-color: #f2f2f2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.divCartoon p {
    padding: 5%;
}

.divCartoon img {
    width: 30%;
}

.conjuntoAlicia,
.heelsbasicos,
.mediasNude {
    aspect-ratio: 1/1;
}

.card {
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    /* user-select: none; */
    color: black;
}

/* .card:hover {
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
} */

.whyPole {
    background-image: url(../assets/wave\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* .whypoleBackground{
    background-image: url(../assets/polebackgr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: unset;
    background-attachment: unset;
    color: white;
    
} */

.imgProfe {
    aspect-ratio: 2/3;
}

.boxProfe1 {
    width: 100%;
    background-color: lightcoral;
}

.boxProfe2 {
    width: 100%;
    background-color: lightblue;
}

.boxProfe3 {
    width: 100%;
    background-color: lightgreen;
}

.parallax {
    height: 50vh;
    position: relative;
    background-color: #5AF2E5;
    border-radius: 2%;
    margin-bottom: 5rem;
}

.parallax img {
    position: absolute;
    width: 100%;
    height: 100%;
    /* bottom: 0; */
    left: 0;
    top: 0;
    /* pointer-events: none; */
    object-fit: cover;
}

.seccionImgTropico img {
    width: 100%;
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.contenedorFooter,
footer {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(318deg, #ff0062, #ffff00, #00ff00, #00ffff, #0000ff);
    background-size: 1000% 1000%;

    -webkit-animation: Coolgradient 10s linear infinite;
    -moz-animation: Coolgradient 10s linear infinite;
    -o-animation: Coolgradient 10s linear infinite;
    animation: Coolgradient 10s linear infinite;
}

@-webkit-keyframes Coolgradient {
    0% {
        background-position: 5% 0%
    }

    50% {
        background-position: 96% 100%
    }

    100% {
        background-position: 5% 0%
    }
}

@-moz-keyframes Coolgradient {
    0% {
        background-position: 5% 0%
    }

    50% {
        background-position: 96% 100%
    }

    100% {
        background-position: 5% 0%
    }
}

@-o-keyframes Coolgradient {
    0% {
        background-position: 5% 0%
    }

    50% {
        background-position: 96% 100%
    }

    100% {
        background-position: 5% 0%
    }
}

@keyframes Coolgradient {
    0% {
        background-position: 5% 0%
    }

    50% {
        background-position: 96% 100%
    }

    100% {
        background-position: 5% 0%
    }
}

footer .nav-link {
    text-decoration: none;
    color: #000;
}

footer .nav-link:hover {
    color: #fff;
}


.button, .aside-bar-button {
    width: 180px;
    height: 40px;
    background-image: linear-gradient(rgb(184, 168, 239), rgb(143, 112, 247));
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    box-shadow: 1px 3px 0px rgb(139, 113, 255);
    transition-duration: .3s;
    text-decoration: none;
  }
  
.buttonNav:hover{
    color: #fff;
}
  
  .button:active {
    transform: translate(2px ,0px);
    box-shadow: 0px 1px 0px rgb(139, 113, 255);
    padding-bottom: 1px;
  }

  .aside-bar{
    background-color: #fff;
    padding: 1%;
  }

  .aside-bar-button{
    margin-bottom: 15px;
    text-align: center;
  }

  .aside-bar .cerrarAsideBtn{
    float: right;
    border: none;
    background: none;
    font-size: 2rem;
    padding: 10px;
  }

mark{
    color: rgb(255, 99, 21);
    background-color: #fff;
    border-radius: 20px;
}

